html {
    height: 100%;
}
body {
    height: inherit;
    margin: 0;
    display: flex;
}
.itemImg{
    height: 80px;
    width: 80px;
}
#appContainer {
    height: inherit;
    width: 100%;
    display: flex;
    background-color: aliceblue;
}
#sideBar {
    display: flex;
    flex-direction: column;
    width:15%;
    height: inherit;
    border-right: 1px solid black;
    background-color: #feb236;
}
#sideBar > * {
    margin: auto;
}
#mainContainer {
    display: flex;
    width:85%;
    height: inherit;
    background-color: #6b5b95;
}
#itemDisplay{
    margin: auto;
    background-color: #feb236;
}