html {
    height: 100%;
}
body {
    height: inherit;
    margin: 0;
    display: flex;
}
.itemImg{
    height: 80px;
    width: 80px;
}
#appContainer {
    height: inherit;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
#sideBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width:15%;
    height: inherit;
    border-right: 1px solid black;
    background-color: #9cf5f0;
}
#sideBar > * {
    margin: auto;
}
#sideBar > div > * {
    display: flex;
    margin: auto;
}
#mainContainer {
    display: flex;
    width:85%;
    height: inherit;
    background-color: #ffffff;
}
#itemDisplay{
    margin: auto;
    background-color: #ffffff;
}